ul {
  text-decoration: none;
  display: flex;
  padding: 20px;
  margin: 0;
  justify-content: space-around;
  background-color: antiquewhite;
  list-style-type: none;
  color: rgb(255, 255, 255);


}

li {
  /* border: 1px solid; */
  margin: 3px;
  padding: 1px;
  height: 20px;
  /* background-color: rgb(134, 231, 231); */
}

li:hover {
  border-radius: 5px;
  background-color: rgb(233, 233, 112);
  cursor: pointer;
}
.link{
  color: blueviolet;
  text-decoration: none;
  font-style: italic;
  display: inline-block;
  margin: 27%;
}